@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: font-family: 'Raleway', sans-serif;
	font-weight: 200;
}
body {
	margin: 0px;
	background-color: #E9E9E9
}

h1 {
	font-size: 80px;
	margin: 0px;
}
h2 {
	font-size: 40px;
	line-height: 40px;
	margin: 0px;
	padding-right: 10px;
}

#warp1 .box1, #warp1 .box0{
	margin-right: 30px;
}

a:link, a:visited{
	color: black;
	text-decoration: none;
	}

a:hover{
	color: gray;
	}







/* flex-container1nd */

.flex-container0 {
	display: flex;
	flex-wrap: nowrap;
	height: 768px;

}
.box1 {
	width: 25%;
}



/* flex-container------- menu */
.menu a {
	float: left;
	margin: 0px;
	padding-right: 30px;
	font-size: 18px;
}
.keyword {
	padding-top:50px;
}





/* flex-container------- gif and intro text */
.intro {
	padding-top: 180px;
	padding-right: 200px;
	position: relative;
}

.simbol {
	position: relative;
	right: 30px;
	z-index: -1;
	bottom: 30px;
	}




/*flex-container2nd--------*/
.flex-container1 {
	display: flex;
	flex-wrap: nowrap;
}

.img-flow {
	float: right;
	padding-top: 50px;
	padding-bottom: 50px;
}

.content p{
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	color: #000000;
	}
.box1 .content{
	padding-bottom: 0px;
}

.box1 .content h1{
	border-top: solid 1.5px black;
}



#sticky1{
	position: sticky;
	top: 0;
	z-index: 1;
	padding-bottom: 100px;
}

#sticky2{
	background-color: #E9E9E9;
	position: sticky;
	top: 100px;
	z-index: 2;
	padding-bottom: 100px;
}

#sticky3{
	background-color: #E9E9E9;
	position: sticky;
	top: 200px;
	z-index: 3;
	padding-bottom: 100px;
}

#sticky4{
	background-color: rgba(0,0,0,0.00);
	position: sticky;
	top: 300px;
	z-index: 4;
	padding-bottom: 100px;
}

#sticky5{
	background-color: #E9E9E9;
	position: sticky;
	top: 0;
	z-index: 5;
	font-size: 24px;
	padding-bottom: 410px;
	font-style: italic;
}




/* flex-container3nd-------*/
.flex-container2 {
	display: flex;
	flex-wrap: nowrap;
	background-color: #000000;
	color: #F2F2F2;
	padding: 30px;
	padding-top: 150px;
}
.box2 {
	width: 25%;
}

/* flex-container3nd-------button*/
h3 {
	display: inline;
	font-size: 20px;
	line-height: 42px;
	margin: 0px;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

.flex-container2 h3 a {
	color: white;
	text-decoration: none;
}

.flex-container2 h3 a:hover {
	background-image: url(img/go.svg);
	background-repeat: no-repeat;
	color: rgba(0,0,0,0.00);
}


.flex-container2 .top-btn a{
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	float: right;
	clear: both;
	background-color: #FFFFFF;
	border-radius: 500px;
	margin-top: 200px;
	font-style: italic;
	margin-bottom: 10px;
	color: #696969;
	padding-left: 30px;
	}

.flex-container2 .top-btn a:hover {
	color: white;
	background: none;
	background-color: blue;
	text-decoration: none;
}
